/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 nov. 2017, 15:01:47
    Author     : Tarek.Chida
*/


body{
    background-color: #f8b9cd;
    font-family: 'Nova Flat';font-size: 18px;

}
.container{
    max-width: 970px;
}
.maze-init{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width: 50%; 
} 
.maze-config{
    padding: 40px;
    background-color: #fff;
    height: 408px;
    border-radius: 5px;
}

/* pony grid */
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #2f70a9;
}

input[type=radio] + label>img { 
    width: 200px;
    height: 200px;
    transition: 500ms all; 
}

input[type=radio]:checked + label>img {

}
/* sliders */
#ex1Slider .slider-selection {
    background: #BABABA;
}


.maze-pony{
    display: none;
}
.maze-direction div.direction{
    text-align: center; 
} 

.maze-direction div.direction .fa{ 

    font-size: 40px; 
} 

.maze-console{
    min-height: 700px;
    background-color: #ffffff;
    color: #007bff;
    margin: 10px;
    padding: 5px; 
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: hidden; 
    font-size: 13px;
    border-radius: 5px;
}
.maze-console p{
    margin-bottom: 5px;
}
.game-container{ 
    background-color: #fff;  
    margin-top: 100px; 
    height: 800px;
}

.nav-item a{
    margin-right: 3px; 
}
.game-container .col{
    height: 180px; 
}

.game-container td{
    border: none;
    height: 40px;
    width: 40px;
}
.game-container td.player{
    background: url(images/player.png) ;
}
.game-container td.domokun{
    background: url(images/domokun.png) ;
}
td.wall-north{
    border-top: 4px solid #218838;
}
td.wall-west{
    border-left: 4px solid #218838;
}
td.wall-west-north, td.wall-north-west{
    border-top: 4px solid #218838;
    border-left: 4px solid #218838;
}



